@using GameStore.Extension;
@model List<GameStore.WebUI.Areas.Admin.Models.DTO.ProductDTO>
@{
    var counter = 0;
}
@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_FrontPartial")

<h3 class="text-primary my-5">categories</h3>
<div class="row cate">
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-block">
                <h1 class="@Html.IsSelected(actions: "laptop", controllers: "Product")">
                    <a class="navbar-brand mr-0 logo text-white" href="/Product/laptop">

                        <h1> Laptop</h1>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
                <h1 class="@Html.IsSelected(actions: "Accessory", controllers: "Product")">
                    <a class="navbar-brand mr-0 logo text-white" href="/Product/Accessory">

                        <h1> Accessory</h1>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
                <h1 class="@Html.IsSelected(actions: "Fridge", controllers: "Product")">
                    <a class="navbar-brand mr-0 logo text-white" href="/Product/Game">

                        <h1> Fridge</h1>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-block">
                <h1 class="@Html.IsSelected(actions: "Phone", controllers: "Product")">
                    <a class="navbar-brand mr-0 logo text-white" href="/Product/Phone">

                        <h1> Phone</h1>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</div>

<h3 class="text-primary">All Products</h3>
    @foreach (var item in Model)
    {
        if ((counter + 1) % 4 == 1)
        {
            @:<div class="row my-5 productitem ">
            }
            <div class="col">
                <div class="card h-100 ">
                    <a href='/Product/Detail/@item.ProductId'>
                        <img src="~/images/@item.Image" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">@item.ProductName</span>

                        </div>
                        <div class="special_item_price my-4 px-7">
                            <span class="price-old">@Html.FormattedCurrency(item.Price)</span><span class="price-new">@Html.FormattedCurrency(item.GetDiscountedPrice())</span>
                        </div>
                        <div class="text-center my-4">
                            @using (Html.BeginForm("CreateOrUpdate", "ShoppingCart", FormMethod.Post))
                            {
                                <input type='hidden' name='id' value='@item.ProductId'>
                                <input type='hidden' name='quantity' value='0'>
                                <input type='submit' class='btn btn-warning' value='Add to Cart'>
                            }
                        </div>
                    </div>
                </div>
            </div>


            if ((counter + 1) % 4 == 0 || counter == Model.Count() - 1)
            {
            @:</div>
        }
        counter++;
    }



