@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" id="b">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.GetUserName() <img src="~/images/avatar.png" alt="Avatar" style="vertical-align: middle; width: 40px; height: 40px; border-radius: 50%;" /></a>
                <ul class="dropdown-menu">
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <li> <span>@Html.ActionLink("Profile", "MemberProfile", "Account", new { area = "" }, null)</span></li>
                        <li> <span>@Html.ActionLink("Password", "ChangePassword", "Account", new { area = "" }, null)</span></li>
                        <li> <span>@Html.ActionLink("Dashboard", "Index", "Dashboard", new { Area = "Admin" }, null)</span></li>
                        <li class="nav-divider"></li>
                        <li> <span>@Html.ActionLink("User", "AppUser", "Account", new { area = "Admin" }, null)</span></li>
                        <li> <span>@Html.ActionLink("Role", "AppRole", "Account", new { area = "Admin" }, null)</span></li>
                        <li class="nav-divider"></li>
                        <li> <span>@Html.ActionLink("Product", "Product", "Store", new { area = "Admin" }, null)</span></li>
                        <li> <span>@Html.ActionLink("Category", "Category", "Store", new { area = "Admin" }, null)</span></li>
                        <li> <span>@Html.ActionLink("Order", "Order", "Store", new { area = "Admin" }, null)</span></li>
                        <li class="nav-divider"></li>
                        <li> <span>@Html.ActionLink("My Order", "Index", "MyOrder", new { area = "" }, null)</span></li>
                        <li> <span>@Html.ActionLink("My Cart", "Index", "ShoppingCart", new { area = "" }, null)</span></li>

                    }
                    @if (HttpContext.Current.User.IsInRole("Advanced"))
                    {
                        <li><span>@Html.ActionLink("Profile", "MemberProfile", "Account", new { area = "" }, null)</span></li>
                        <li><span>@Html.ActionLink("Change Password", "ChangePassword", "Account", new { area = "" }, null)</span></li>
                        <li class="nav-divider"></li>
                        <li><span>@Html.ActionLink("My Products", "MyProducts", "Product", new { area = "" }, null)</span></li>
                        <li><span>@Html.ActionLink("My Product Orders", "MyProductOrders", "Product", new { area = "" }, null)</span></li>
                        <li class="nav-divider"></li>
                        <li><span>@Html.ActionLink("My Order", "Index", "MyOrder", new { area = "" }, null)</span></li>
                        <li><span>@Html.ActionLink("My Cart", "Index", "ShoppingCart", new { area = "" }, null)</span></li>
                    }
                    @if (HttpContext.Current.User.IsInRole("Regular"))
                    {
                        <li><span>@Html.ActionLink("Profile", "MemberProfile", "Account", new { area = "" }, null)</span></li>
                        <li><span>@Html.ActionLink("Change Password", "ChangePassword", "Account", new { area = "" }, null)</span></li>
                        <li class="nav-divider"></li>
                        <li><span>@Html.ActionLink("My Order", "Index", "MyOrder", new { area = "" }, null)</span></li>
                        <li><span>@Html.ActionLink("My Cart", "Index", "ShoppingCart", new { area = "" }, null)</span></li>
                    }
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
            </li>
                       
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")"> <button class="btn btn-info">Sign Up</button> </a></li>
        <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
    </ul>
}
